<div class="body">
  <div class="row">
    <div class="back col-3"></div>
    <div class="back col-3"></div>
    <div class="back col-3"></div>
    <div class="back col-3">
      <button routerLink="/filters" routerLinkActive="active">Back</button>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <img src="../../../assets/imgnav/foto.webp" class="card-img-top" alt="...">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="card-body">
          <h5 class="card-title">Lucía Badiola</h5>
          <p class="card-text">Hi Finders! My name is Lucia, I'm from Madrid and I love to show my city to others.
            I'll be glad to take you and have a walk through the main museums of my city.
            If you have any doubt or request please feel free to contact me!
            All the best and see you soon!
          </p>
          <div class="rating">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <span style="color: black; font-weight: none;">(432)</span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Languages: <span style="color: black; font-weight: none;">English, Spanish</span>
          </li>
          <li class="list-group-item">
            Birth Date: <span style="color: black; font-weight: none;">03 / 10 /1992</span>
          </li>
          <li class="list-group-item">
            Acreditation: <span style="color: black; font-weight: none;">Fine Arts Degree,
              Certification
              of
              Advanced English</span>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="d-lg-block d-md-block d-sm-none d-none col-lg-6 col-md-6 col-sm-0 col-0">
                <button routerLink="/messages" routerLinkActive="active">Go Chat!</button>
              </div>
              <div class="d-lg-none d-md-none d-sm-block d-block col-sm-6 col-6">
                <button routerLink="/chat2" routerLinkActive="active">Go Chat!</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 tours">
      <h4>Pregenerate Tour</h4>
      <hr>
      <div class="card tour">
        <img id="cp" src="../../../assets/destinations/madrid.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><strong>Madrid</strong></h4>
          <strong>Main museums tour</strong>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Crystal Palace</h5>
              </div>
              <span>Duration: </span> 1 hrs.
              <span>Price: </span> 75,00€
            </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Prado</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00€
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Reina Sofia</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 50,00€
          </div>

          <span>Total Amount: </span> 225,00€
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 experience">
      <h4>Experiences</h4>
      <hr>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Prado</h5>
        </div>
        <p class="mb-1">A walk through the hyper-realist exposition</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00€
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Reina Sofia</h5>
        </div>
        <p class="mb-1">A walk through the modernist exposition</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 50,00€
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Thyssen</h5>
        </div>
        <p class="mb-1">A walk through the impressionist exposition</p>
        <span>Duration: </span> 1 hrs.
        <span>Price: </span> 75,00€
      </div>

      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Crystal Palace from the Retiro Park</h5>
        </div>
        <p class="mb-1">A walk through the ephemeral exposition</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Casa encendida</h5>
        </div>
        <p class="mb-1">A walk through the temporal  earth exposition</p>
        <span>Duration: </span> 4 hrs.
        <span>Price: </span> 150,00€
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Casa de la moneda y timbre</h5>
          </div>
          <p class="mb-1">A walk through the building of a famous serial</p>
          <span>Duration: </span> 1 hrs.
          <span>Price: </span> 50,00€
        </div>
    </div>
  </div>
</div>
